  .header_top{
    background-color: blue;
  }

.jumbo{
  background-color: red;
}

.section_1{
  background-color: pink;
}
.section_3{
  background-color: green;
}

.section_5{
  background-color: pink;
}
